<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sabchow.mybatis.dao.SysMenuMapper" >
  <resultMap id="menuMap" type="com.sabchow.mybatis.entity.SysMenu" >
    <result column="menuId" property="menuId" jdbcType="INTEGER" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="menuName" property="menuName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    
	<collection property="childMenu" ofType="com.sabchow.mybatis.entity.SysMenu" select="querySecondSysMenuList" column="menuId"></collection>
  </resultMap>
  <select id="queryAllSysMenuList"  resultMap="menuMap">
  		SELECT
        m.id menuId,
        m.menu_name menuName,
        m.url url,
        m.parent_id parentId
    FROM
        sys_menu m
    where 1=1 and m.parent_id = 0
<!--     <choose> -->
<!--         <when test="parentId!=null and parentId!=0"> -->
<!--             and m.parent_id = #{parentId} -->
<!--         </when> -->
<!--         <otherwise> -->
<!--             and m.parent_id = 0 -->
<!--         </otherwise> -->
<!--     </choose> -->
  </select>
  
  <select id="querySecondSysMenuList"  resultMap="menuMap">
  		SELECT
        m.id menuId,
        m.menu_name menuName,
        m.url url,
        m.parent_id parentId
    FROM
        sys_menu m
    where 1=1 and m.parent_id = #{menuId}
<!--     <choose> -->
<!--         <when test="parentId!=null and parentId!=0"> -->
<!--             and m.parent_id = #{parentId} -->
<!--         </when> -->
<!--         <otherwise> -->
<!--             and m.parent_id = 0 -->
<!--         </otherwise> -->
<!--     </choose> -->
  </select>
  
</mapper>