<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sabchow.mybatis.dao.SysUserMapper" >
  <resultMap id="userMap" type="com.sabchow.mybatis.entity.SysUser" >
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="INTEGER" />
<!--     <association property="role" javaType="com.sabchow.mybatis.entity.SysRole"> -->
<!--     	<id column="roleId" property="roleId"></id> -->
<!--     	<result column="roleName" property="roleName"></result> -->
<!--     	<result column="status" property="status"></result> -->
<!--     </association> -->
	<collection property="roleList" ofType="com.sabchow.mybatis.entity.SysRole">
		<id column="roleId" property="roleId"></id>
    	<result column="roleName" property="roleName"></result>
    	<result column="status" property="status"></result>
	</collection>
  </resultMap>
  <select id="querySysUserList" parameterType="com.sabchow.mybatis.param.SysUserParam" resultMap="userMap">
      select * from sys_user
  </select>
  
  
  <select id="findUserByUserId" parameterType="java.lang.Long" resultMap="userMap">
  	select u.user_id userId,
  		u.user_name userName,
  		u.password password,
  		u.addr addr,
  		u.email email,
  		r.role_id roleId,
  		r.role_name roleName,
  		r.status 'status'
  		from sys_user u left join 
  			user_role ur on u.user_id = ur.user_id
  			left join sys_role r on ur.role_id = r.role_id
  		 where u.user_id=#{userId}
  </select>
  
  <insert id="addSysUser"  parameterType="com.sabchow.mybatis.param.SysUserParam" useGeneratedKeys="true" keyProperty="userId">
  	insert into sys_user(
  						user_id,
  						user_name,
  						password,
  						addr,
  						email
  					)
  					values
  						(#{userId},#{userName},#{password},#{addr},#{email})
  </insert>
</mapper>